---
interface Props {
  href?: string;
  target?: string;
  title?: string;
  id?: string;
}

let { href, target, title, id, ...rest } = Astro.props;

// Remove .md extension from href, but make sure to preserve #hashes
href = href?.replace(/\.md(#.*)?$/, "$1");
---

<a href={href} target={target} title={title} id={id} {...rest}><slot /></a>

<style>
  a {
    font-weight: bold;
    color: var(--strawberry);
    transition: all 0.2s ease-in-out;
    background: linear-gradient(
      to right,
      var(--color-magenta),
      var(--color-orange)
    );
    background-size: 100% 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    padding: 0 4px 2px;
    border-radius: 4px;
    margin-left: -4px;
    margin-right: -4px;

    &:hover {
      color: var(--color-white);
      background-size: 100% 100%;
    }

    &[data-footnote-ref] {
      color: var(--color-magenta);
      background: none;
      padding: 0;
      margin: 0;
      border-radius: 0;
      font-weight: bold;
      font-size: 0.8em;
      vertical-align: super;
      line-height: 1;
      position: relative;
      top: -0.2em;
      left: 0.2em;
    }
  }
</style>
