{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "classic",
          "importSource": "theme-ui"
        }
      }
    ]
  ],
  "plugins": ["@emotion/babel-plugin"]
}
