{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "proseWrap": "always",
  "importOrder": ["^next", "^~", "^[./]"],
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
