---
interface Props {
  href: string;
  active?: boolean;
}

const { href, active } = Astro.props;
---

<a class:list={{ active }} href={href} class="typography-paragraph-2">
  <slot />

  <span class="border"></span>
  <span class="underline"></span>
</a>

<style>
  a {
    padding: 16px 0;
    color: var(--color-g-500);
    display: block;
    font-weight: bold;
    position: relative;
    transition: color 0.2s ease;

    :hover {
      color: var(--color-black);
    }
  }

  :global(html.dark) a {
    color: var(--color-white);
  }

  :global(html.dark) a:hover {
    color: var(--color-white);
  }

  a.active {
    color: var(--color-black);
  }

  :global(html.dark) a.active {
    color: var(--color-white);
  }

  .border {
    position: absolute;
    border-radius: 0.25rem;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--color-g-100);
  }

  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: 0.25rem;
    opacity: 0;

    background: linear-gradient(
      90deg,
      var(--color-magenta),
      var(--color-orange)
    );
  }

  a.active .underline,
  a:hover .underline {
    opacity: 1;
  }

  @media (min-width: 768px) {
    a {
      color: var(--color-black);
    }
    .border {
      display: none;
    }
  }
</style>
