---
import Logo from "./Logo.astro";
import MenuIcon from "./Icons/Menu.astro";
import MenuCloseIcon from "./Icons/MenuClose.astro";
import HeaderNav from "./HeaderNav.astro";
---

<input type="checkbox" id="toggle-nav" />

<header class="docs-grid">
  <a href="/" class="logo">
    <Logo />
  </a>

  <div class="nav-container">
    <HeaderNav />

    <label for="toggle-nav">
      <MenuIcon class="menu-icon" />

      <div class="close-icon-wrapper">
        <MenuCloseIcon class="menu-icon menu-icon-close" />
      </div>
    </label>
  </div>
</header>

<style>
  .logo {
    grid-column: nav-start / content-start;
  }

  .nav-container {
    grid-column: content-start / page-nav-end;
  }

  .default-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
  }

  header :global(nav) {
    display: none;
    margin-top: 40px;
  }

  .logo {
    width: 40px;
    height: 48px;
    display: block;
  }

  .logo :global(svg) {
    width: 100%;
    height: 100%;
  }

  #toggle-nav {
    display: none;
  }

  .menu-icon-close {
    display: none;
  }

  .menu-icon {
    stroke: var(--color-black);
  }

  :global(html.dark) .menu-icon {
    stroke: var(--color-g-100);
  }

  label[for="toggle-nav"] {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  /* Toggled styles */

  @media (max-width: 767px) {
    .logo {
      grid-row: 1 / 1;
    }
    .nav-container {
      grid-column: content-start / full-end;
      grid-row: 1 / 1;
      display: flex;
      justify-content: flex-end;
    }

    #toggle-nav:checked ~ header .nav-container label .menu-icon {
      display: none;
    }
    #toggle-nav:checked ~ header .nav-container :global(nav),
    #toggle-nav:checked ~ header .nav-container label .menu-icon-close {
      display: flex;
    }

    /* TODO: disable scroll on body using :has, allow scroll on header */

    #toggle-nav:checked ~ header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      min-height: 100vh;
      z-index: 100;
      flex-direction: column;
      align-items: stretch;
      background: white;
    }

    :global(html.dark) #toggle-nav:checked ~ header {
      background: black;
    }

    #toggle-nav:checked ~ header .nav-container {
      height: 100%;
    }

    #toggle-nav:checked ~ header :global(nav) {
      flex: 1;
    }

    #toggle-nav:checked ~ header .nav-container .close-icon-wrapper {
      position: absolute;
      top: 28px;
      right: 18px;
      display: flex;
      align-items: center;
    }
  }

  @media (min-width: 768px) {
    header :global(nav) {
      display: flex;
      margin-top: 0;
    }

    .logo {
      width: 67px;
      height: 80px;
    }

    label[for="toggle-nav"] {
      display: none;
    }

    .nav-container {
      flex: 1;
    }
  }

  @media (min-width: 1024px) {
    .logo {
      width: 67px;
      height: 80px;
    }
  }
</style>
