<div class="typography-caption">
  <slot />
</div>

<style>
  div {
    border-radius: 4px;
    background-color: var(--color-g-50);
    padding: 2px 6px;
    display: inline-block;
    border: 1px solid var(--color-g-100);
    background: white;
    color: var(--color-orange);
    font-weight: bold;
  }

  :global(html.dark) div {
    background: color-mix(in srgb, var(--color-g-800) 75%, transparent);
    border: 1px solid var(--color-g-700);
    color: var(--color-orange);
  }
</style>
