@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --font-sans: var(--font-satoshi), system-ui, sans-serif;
  --font-heading: var(--font-ranade), system-ui, sans-serif;

  --strawberry-red: hsla(358.74, 92.233%, 59.608%);

  --color-fd-background: white;
  --color-fd-primary: var(--strawberry-red);
  --color-fd-border: color-mix(
    in oklch,
    var(--strawberry-red),
    transparent 80%
  );
  --color-fd-card: color-mix(in oklch, var(--strawberry-red), white 99%);
  --color-fd-accent: color-mix(
    in oklch,
    var(--strawberry-red),
    transparent 98%
  );

  --color-fd-accent-foreground: var(--strawberry-red);
  --color-fd-ring: var(--strawberry-red);
}

.dark {
  --color-fd-primary: var(--strawberry-red);
}

:root {
  --fd-nav-height: 80px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
