.mermaid > svg .actor {
  fill: var(--code-color-purple);
  stroke: var(--code-color-purple);
}
.mermaid > svg text.actor > tspan {
  fill: #333;
  stroke: none;
}
.mermaid > svg .labelBox {
  fill: var(--code-color-purple);
  stroke: var(--code-color-purple);
}
.mermaid > svg .loopLine {
  stroke-dasharray: 2, 2;
  fill: var(--code-color-purple);
  stroke: var(--code-color-purple);
}
.mermaid > svg .note {
  fill: var(--code-color-orange);
  stroke: var(--code-color-orange);
}
.mermaid > svg .actor-man line {
  fill: var(--code-color-purple);
  stroke: var(--code-color-purple);
}
.mermaid > svg .actor-man circle,
.mermaid > svg line {
  fill: var(--code-color-purple);
  stroke: var(--code-color-purple);
}
.mermaid > svg .pieCircle {
  stroke: black;
  stroke-width: 2px;
  opacity: 0.7;
}
.mermaid > svg .pieOuterCircle {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}
.mermaid > svg .pieTitleText {
  text-anchor: middle;
  font-size: 25px;
  font-family: "trebuchet ms", verdana, arial, sans-serif;
}
.mermaid > svg .slice {
  font-family: "trebuchet ms", verdana, arial, sans-serif;
  fill: #333;
  font-size: 17px;
}
.mermaid > svg .legend text {
  font-family: "trebuchet ms", verdana, arial, sans-serif;
  font-size: 17px;
}
.mermaid > svg .label {
  font-family: "trebuchet ms", verdana, arial, sans-serif;
  color: #333;
}
.mermaid > svg .cluster-label text {
  fill: rgb(8.5000000002, 5.7500000001, 0);
}
.mermaid > svg .cluster-label span,
.mermaid > svg p {
  color: rgb(8.5000000002, 5.7500000001, 0);
}
.mermaid > svg .label text,
.mermaid > svg p,
.mermaid > svg span {
  fill: #333;
  color: #333;
}
.mermaid > svg .flowchart-label text {
  text-anchor: middle;
}
.mermaid > svg .node .label {
  text-align: center;
}
.mermaid > svg .node.clickable {
  cursor: pointer;
}
.mermaid > svg .arrowheadPath {
  fill: undefined;
}
.mermaid > svg .edgePath .path {
  stroke: #0b0b0b;
  stroke-width: 2px;
}
.mermaid > svg .flowchart-link {
  @apply stroke-g-900 dark:stroke-g-100;
  fill: none;
}
.mermaid > svg .edgeLabel {
  background-color: hsl(-79.4117647059, 100%, 93.3333333333%);
  text-align: center;
}
.mermaid > svg .edgeLabel rect {
  opacity: 0.5;
  background-color: hsl(-79.4117647059, 100%, 93.3333333333%);
  fill: hsl(-79.4117647059, 100%, 93.3333333333%);
}
.mermaid > svg .cluster rect {
  fill: hsl(220.5882352941, 100%, 98.3333333333%);
  stroke: hsl(220.5882352941, 60%, 88.3333333333%);
  stroke-width: 1px;
}
.mermaid > svg .cluster text {
  fill: rgb(8.5000000002, 5.7500000001, 0);
}
.mermaid > svg .cluster span,
.mermaid > svg p {
  color: rgb(8.5000000002, 5.7500000001, 0);
}
.mermaid > svg div.mermaidTooltip {
  position: absolute;
  text-align: center;
  max-width: 200px;
  padding: 2px;
  font-family: "trebuchet ms", verdana, arial, sans-serif;
  font-size: 12px;
  background: hsl(220.5882352941, 100%, 98.3333333333%);
  border: 1px solid undefined;
  border-radius: 2px;
  pointer-events: none;
  z-index: 100;
}
.mermaid > svg .flowchartTitleText {
  text-anchor: middle;
  font-size: 18px;
  fill: #333;
}
.mermaid > svg .actor {
  stroke: hsl(40.5882352941, 60%, 83.3333333333%);
  fill: #fff4dd;
}
.mermaid > svg text.actor tspan {
  fill: #333;
  stroke: none;
}
.mermaid > svg .actor-line {
  stroke: grey;
}
.mermaid > svg .messageLine0 {
  stroke-width: 1.5;
  stroke-dasharray: none;
  stroke: #333;
}
.mermaid > svg .messageLine1 {
  stroke-width: 1.5;
  stroke-dasharray: 2, 2;
  stroke: #333;
}
.mermaid > svg #arrowhead path {
  fill: #333;
  stroke: #333;
}
.mermaid > svg .sequenceNumber {
  fill: #f4f4f4;
}
.mermaid > svg #sequencenumber {
  fill: #333;
}
.mermaid > svg #crosshead path {
  fill: #333;
  stroke: #333;
}

.mermaid > svg .messageText {
  stroke: none;
}
.mermaid > svg .labelBox {
  stroke: hsl(40.5882352941, 60%, 83.3333333333%);
  fill: #fff4dd;
}
.mermaid > svg .loopLine {
  stroke-width: 2px;
  stroke-dasharray: 2, 2;
  stroke: hsl(40.5882352941, 60%, 83.3333333333%);
  fill: hsl(40.5882352941, 60%, 83.3333333333%);
}
.mermaid > svg .note {
  stroke: hsl(52.6829268293, 60%, 73.9215686275%);
  fill: #fff5ad;
}
.mermaid > svg .noteText,
.mermaid > svg .noteText > tspan {
  fill: #333;
  stroke: none;
}
.mermaid > svg .activation0,
.mermaid > svg .activation1,
.mermaid > svg .activation2 {
  fill: hsl(-79.4117647059, 100%, 93.3333333333%);
  stroke: hsl(-79.4117647059, 100%, 83.3333333333%);
}
.mermaid > svg .actorPopupMenu {
  position: absolute;
}
.mermaid > svg .actorPopupMenuPanel {
  position: absolute;
  fill: #fff4dd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.mermaid > svg .actor-man line {
  stroke: hsl(40.5882352941, 60%, 83.3333333333%);
  fill: #fff4dd;
}
.mermaid > svg .actor-man circle,
.mermaid > svg line {
  stroke: hsl(40.5882352941, 60%, 83.3333333333%);
  fill: #fff4dd;
  stroke-width: 2px;
}
.mermaid > svg .branch-label,
.mermaid > svg .commit-id,
.mermaid > svg .commit-msg {
  fill: lightgrey;
  color: #d3d3d3;
  font-family: "trebuchet ms", verdana, arial, sans-serif;
  font-family: var(--mermaid-font-family);
}
.mermaid > svg .branch-label0 {
  fill: #333;
}
.mermaid > svg .commit0 {
  stroke: hsl(40.5882352941, 100%, 68.3333333333%);
  fill: hsl(40.5882352941, 100%, 68.3333333333%);
}
.mermaid > svg .commit-highlight0 {
  stroke: rgb(0, 52.2500000001, 161.5000000002);
  fill: rgb(0, 52.2500000001, 161.5000000002);
}
.mermaid > svg .label0 {
  fill: hsl(40.5882352941, 100%, 68.3333333333%);
}
.mermaid > svg .arrow0 {
  stroke: hsl(40.5882352941, 100%, 68.3333333333%);
}
.mermaid > svg .branch-label1 {
  fill: #333;
}
.mermaid > svg .commit1 {
  stroke: hsl(-79.4117647059, 100%, 68.3333333333%);
  fill: hsl(-79.4117647059, 100%, 68.3333333333%);
}
.mermaid > svg .commit-highlight1 {
  stroke: rgb(52.2500000001, 161.5000000002, 0);
  fill: rgb(52.2500000001, 161.5000000002, 0);
}
.mermaid > svg .label1 {
  fill: hsl(-79.4117647059, 100%, 68.3333333333%);
}
.mermaid > svg .arrow1 {
  stroke: hsl(-79.4117647059, 100%, 68.3333333333%);
}
.mermaid > svg .branch-label2 {
  fill: #333;
}
.mermaid > svg .commit2 {
  stroke: hsl(220.5882352941, 100%, 73.3333333333%);
  fill: hsl(220.5882352941, 100%, 73.3333333333%);
}
.mermaid > svg .commit-highlight2 {
  stroke: rgb(136.0000000002, 92.0000000001, 0);
  fill: rgb(136.0000000002, 92.0000000001, 0);
}
.mermaid > svg .label2 {
  fill: hsl(220.5882352941, 100%, 73.3333333333%);
}
.mermaid > svg .arrow2 {
  stroke: hsl(220.5882352941, 100%, 73.3333333333%);
}
.mermaid > svg .branch-label3 {
  fill: #333;
}
.mermaid > svg .commit3 {
  stroke: hsl(10.5882352941, 100%, 68.3333333333%);
  fill: hsl(10.5882352941, 100%, 68.3333333333%);
}
.mermaid > svg .commit-highlight3 {
  stroke: rgb(0, 133.0000000002, 161.5000000002);
  fill: rgb(0, 133.0000000002, 161.5000000002);
}
.mermaid > svg .label3 {
  fill: hsl(10.5882352941, 100%, 68.3333333333%);
}
.mermaid > svg .arrow3 {
  stroke: hsl(10.5882352941, 100%, 68.3333333333%);
}
.mermaid > svg .branch-label4 {
  fill: #333;
}
.mermaid > svg .commit4 {
  stroke: hsl(-19.4117647059, 100%, 68.3333333333%);
  fill: hsl(-19.4117647059, 100%, 68.3333333333%);
}
.mermaid > svg .commit-highlight4 {
  stroke: rgb(0, 161.5000000002, 109.2500000001);
  fill: rgb(0, 161.5000000002, 109.2500000001);
}
.mermaid > svg .label4 {
  fill: hsl(-19.4117647059, 100%, 68.3333333333%);
}
.mermaid > svg .arrow4 {
  stroke: hsl(-19.4117647059, 100%, 68.3333333333%);
}
.mermaid > svg .branch-label5 {
  fill: #333;
}
.mermaid > svg .commit5 {
  stroke: hsl(-49.4117647059, 100%, 68.3333333333%);
  fill: hsl(-49.4117647059, 100%, 68.3333333333%);
}
.mermaid > svg .commit-highlight5 {
  stroke: rgb(0, 161.5000000002, 28.5);
  fill: rgb(0, 161.5000000002, 28.5);
}
.mermaid > svg .label5 {
  fill: hsl(-49.4117647059, 100%, 68.3333333333%);
}
.mermaid > svg .arrow5 {
  stroke: hsl(-49.4117647059, 100%, 68.3333333333%);
}
.mermaid > svg .branch-label6 {
  fill: #333;
}
.mermaid > svg .commit6 {
  stroke: hsl(100.5882352941, 100%, 68.3333333333%);
  fill: hsl(100.5882352941, 100%, 68.3333333333%);
}
.mermaid > svg .commit-highlight6 {
  stroke: rgb(109.2500000001, 0, 161.5000000002);
  fill: rgb(109.2500000001, 0, 161.5000000002);
}
.mermaid > svg .label6 {
  fill: hsl(100.5882352941, 100%, 68.3333333333%);
}
.mermaid > svg .arrow6 {
  stroke: hsl(100.5882352941, 100%, 68.3333333333%);
}
.mermaid > svg .branch-label7 {
  fill: #333;
}
.mermaid > svg .commit7 {
  stroke: hsl(160.5882352941, 100%, 68.3333333333%);
  fill: hsl(160.5882352941, 100%, 68.3333333333%);
}
.mermaid > svg .commit-highlight7 {
  stroke: rgb(161.5000000002, 0, 52.2500000001);
  fill: rgb(161.5000000002, 0, 52.2500000001);
}
.mermaid > svg .label7 {
  fill: hsl(160.5882352941, 100%, 68.3333333333%);
}
.mermaid > svg .arrow7 {
  stroke: hsl(160.5882352941, 100%, 68.3333333333%);
}
.mermaid > svg .branch {
  stroke-width: 1;
  stroke: #0b0b0b;
  stroke-dasharray: 2;
}
.mermaid > svg .commit-label {
  font-size: 10px;
  fill: rgb(11.0000000001, 34.0000000002, 0);
}
.mermaid > svg .commit-label-bkg {
  font-size: 10px;
  fill: hsl(-79.4117647059, 100%, 93.3333333333%);
  opacity: 0.5;
}
.mermaid > svg .tag-label {
  font-size: 10px;
  fill: #333;
}
.mermaid > svg .tag-label-bkg {
  fill: #fff4dd;
  stroke: hsl(40.5882352941, 60%, 83.3333333333%);
}
.mermaid > svg .tag-hole {
  fill: #333;
}
.mermaid > svg .commit-merge {
  stroke: #fff4dd;
  fill: #fff4dd;
}
.mermaid > svg .commit-reverse {
  stroke: #fff4dd;
  fill: #fff4dd;
  stroke-width: 3;
}
.mermaid > svg .commit-highlight-inner {
  stroke: #fff4dd;
  fill: #fff4dd;
}
.mermaid > svg .arrow {
  stroke-width: 8;
  stroke-linecap: round;
  fill: none;
}
.mermaid > svg .gitTitleText {
  text-anchor: middle;
  font-size: 18px;
  fill: #333;
}
:root {
  --mermaid-font-family: "trebuchet ms", verdana, arial, sans-serif;
}
.mermaid > svg defs #statediagram-barbEnd {
  fill: #0b0b0b;
  stroke: #0b0b0b;
}
.mermaid > svg g.stateGroup text {
  fill: hsl(40.5882352941, 60%, 83.3333333333%);
  stroke: none;
  fill: #333;
  stroke: none;
  font-size: 10px;
}
.mermaid > svg g.stateGroup .state-title {
  font-weight: bolder;
  fill: #333;
}
.mermaid > svg g.stateGroup rect {
  fill: #fff4dd;
  stroke: hsl(40.5882352941, 60%, 83.3333333333%);
}
.mermaid > svg g.stateGroup line {
  stroke: #0b0b0b;
  stroke-width: 1;
}
.mermaid > svg .transition {
  stroke: #0b0b0b;
  stroke-width: 1;
  fill: none;
}
.mermaid > svg .stateGroup .composit {
  fill: #f4f4f4;
  border-bottom: 1px;
}
.mermaid > svg .stateGroup .alt-composit {
  fill: #e0e0e0;
  border-bottom: 1px;
}
.mermaid > svg .state-note {
  stroke: hsl(52.6829268293, 60%, 73.9215686275%);
  fill: #fff5ad;
}
.mermaid > svg .state-note text {
  fill: #333;
  stroke: none;
  font-size: 10px;
}
.mermaid > svg .stateLabel .box {
  stroke: none;
  stroke-width: 0;
  fill: #fff4dd;
  opacity: 0.5;
}
.mermaid > svg .edgeLabel .label rect {
  fill: #fff4dd;
  opacity: 0.5;
}
.mermaid > svg .edgeLabel .label text {
  fill: #333;
}
.mermaid > svg .label div .edgeLabel {
  color: #333;
}
.mermaid > svg .stateLabel text {
  fill: #333;
  font-size: 10px;
  font-weight: 700;
}
.mermaid > svg .node .fork-join,
.mermaid > svg .node circle.state-start {
  fill: #0b0b0b;
  stroke: #0b0b0b;
}
.mermaid > svg .node circle.state-end {
  fill: hsl(40.5882352941, 60%, 83.3333333333%);
  stroke: #f4f4f4;
  stroke-width: 1.5;
}
.mermaid > svg .end-state-inner {
  fill: #f4f4f4;
  stroke-width: 1.5;
}
.mermaid > svg .node polygon,
.mermaid > svg .node rect {
  fill: #fff4dd;
  stroke: hsl(40.5882352941, 60%, 83.3333333333%);
}
.mermaid > svg #statediagram-barbEnd {
  fill: #0b0b0b;
}
.mermaid > svg .statediagram-cluster rect {
  fill: #fff4dd;
  stroke: hsl(40.5882352941, 60%, 83.3333333333%);
  stroke-width: 1px;
}
.mermaid > svg .cluster-label,
.mermaid > svg .nodeLabel {
  color: #333;
}
.mermaid > svg .statediagram-cluster rect.outer {
  rx: 5px;
  ry: 5px;
}
.mermaid > svg .statediagram-state .divider {
  stroke: hsl(40.5882352941, 60%, 83.3333333333%);
}
.mermaid > svg .statediagram-state .title-state {
  rx: 5px;
  ry: 5px;
}
.mermaid > svg .statediagram-cluster.statediagram-cluster .inner {
  fill: #f4f4f4;
}
.mermaid > svg .statediagram-cluster.statediagram-cluster-alt .inner {
  fill: hsl(220.5882352941, 100%, 98.3333333333%);
}
.mermaid > svg .statediagram-cluster .inner {
  rx: 0;
  ry: 0;
}
.mermaid > svg .statediagram-state rect.basic {
  rx: 5px;
  ry: 5px;
}
.mermaid > svg .statediagram-state rect.divider {
  stroke-dasharray: 10, 10;
  fill: hsl(220.5882352941, 100%, 98.3333333333%);
}
.mermaid > svg .note-edge {
  stroke-dasharray: 5;
}
.mermaid > svg .statediagram-note rect {
  fill: #fff5ad;
  stroke: hsl(52.6829268293, 60%, 73.9215686275%);
  stroke-width: 1px;
  rx: 0;
  ry: 0;
}
.mermaid > svg .statediagram-note text {
  fill: #333;
}
.mermaid > svg .statediagram-note .nodeLabel {
  color: #333;
}
.mermaid > svg .statediagram .edgeLabel {
  color: red;
}
.mermaid > svg #dependencyEnd,
.mermaid > svg #dependencyStart {
  fill: #0b0b0b;
  stroke: #0b0b0b;
  stroke-width: 1;
}
.mermaid > svg .statediagramTitleText {
  text-anchor: middle;
  font-size: 18px;
  fill: #333;
}
.mermaid > svg {
  font-family: "trebuchet ms", verdana, arial, sans-serif;
  font-size: 16px;
  fill: #333;
}
.mermaid > svg .error-icon {
  fill: hsl(220.5882352941, 100%, 98.3333333333%);
}
.mermaid > svg .error-text {
  fill: rgb(8.5000000002, 5.7500000001, 0);
  stroke: rgb(8.5000000002, 5.7500000001, 0);
}
.mermaid > svg .edge-thickness-normal {
  stroke-width: 2px;
}
.mermaid > svg .edge-thickness-thick {
  stroke-width: 3.5px;
}
.mermaid > svg .edge-pattern-solid {
  stroke-dasharray: 0;
}
.mermaid > svg .edge-pattern-dashed {
  stroke-dasharray: 3;
}
.mermaid > svg .edge-pattern-dotted {
  stroke-dasharray: 2;
}
.mermaid > svg .marker {
  @apply stroke-g-900 dark:stroke-g-100;
  @apply fill-g-900 dark:fill-g-100;
}
.mermaid > svg .marker.cross {
  @apply stroke-g-900 dark:stroke-g-100;
}
.mermaid > svg svg {
  font-family: "trebuchet ms", verdana, arial, sans-serif;
  font-size: 16px;
}
.mermaid > svg g.classGroup text {
  fill: hsl(40.5882352941, 60%, 83.3333333333%);
  fill: #333;
  stroke: none;
  font-family: "trebuchet ms", verdana, arial, sans-serif;
  font-size: 10px;
}
.mermaid > svg g.classGroup text .title {
  font-weight: bolder;
}
.mermaid > svg .edgeLabel,
.mermaid > svg .nodeLabel {
  color: #333;
}
.mermaid > svg .edgeLabel .label rect {
  fill: #fff4dd;
}
.mermaid > svg .label text {
  fill: #333;
}
.mermaid > svg .edgeLabel .label span {
  background: #fff4dd;
}
.mermaid > svg .classTitle {
  font-weight: bolder;
}
.mermaid > svg .node circle,
.mermaid > svg .node ellipse,
.mermaid > svg .node path,
.mermaid > svg .node polygon,
.mermaid > svg .node rect {
  fill: #fff4dd;
  stroke: hsl(40.5882352941, 60%, 83.3333333333%);
  stroke-width: 1px;
}
.mermaid > svg .divider {
  stroke: hsl(40.5882352941, 60%, 83.3333333333%);
  stroke: 1;
}
.mermaid > svg g.clickable {
  cursor: pointer;
}
.mermaid > svg g.classGroup rect {
  fill: #fff4dd;
  stroke: hsl(40.5882352941, 60%, 83.3333333333%);
}
.mermaid > svg g.classGroup line {
  stroke: hsl(40.5882352941, 60%, 83.3333333333%);
  stroke-width: 1;
}
.mermaid > svg .classLabel .box {
  stroke: none;
  stroke-width: 0;
  fill: #fff4dd;
  opacity: 0.5;
}
.mermaid > svg .classLabel .label {
  fill: hsl(40.5882352941, 60%, 83.3333333333%);
  font-size: 10px;
}
.mermaid > svg .relation {
  stroke: #0b0b0b;
  stroke-width: 1;
  fill: none;
}
.mermaid > svg .dashed-line {
  stroke-dasharray: 3;
}
.mermaid > svg .dotted-line {
  stroke-dasharray: 1 2;
}
.mermaid > svg #compositionEnd,
.mermaid > svg #compositionStart,
.mermaid > svg .composition {
  fill: #0b0b0b !important;
  stroke: #0b0b0b !important;
  stroke-width: 1;
}
.mermaid > svg #dependencyStart,
.mermaid > svg .dependency {
  fill: #0b0b0b !important;
  stroke: #0b0b0b !important;
  stroke-width: 1;
}
.mermaid > svg #aggregationEnd,
.mermaid > svg #aggregationStart,
.mermaid > svg #extensionEnd,
.mermaid > svg #extensionStart,
.mermaid > svg #lollipopEnd,
.mermaid > svg #lollipopStart,
.mermaid > svg .aggregation,
.mermaid > svg .extension,
.mermaid > svg .lollipop {
  fill: #fff4dd !important;
  stroke: #0b0b0b !important;
  stroke-width: 1;
}
.mermaid > svg .edgeTerminals {
  font-size: 11px;
}
.mermaid > svg .classTitleText {
  text-anchor: middle;
  font-size: 18px;
  fill: #333;
}
.mermaid > svg :root {
  --mermaid-font-family: "trebuchet ms", verdana, arial, sans-serif;
}

.mermaid > svg .labelText,
.mermaid > svg .labelText > tspan,
.mermaid > svg .loopText,
.mermaid > svg .loopText > tspan,
.mermaid > svg .messageText,
.mermaid > svg .pieTitleText,
.mermaid > svg .legend text {
  @apply fill-g-900 dark:fill-g-50;
}
