---
interface Props {
  small?: boolean;
  class?: string;
}

let { small, class: className } = Astro.props;

className += small ? " typography-paragraph-2" : " typography-paragraph";
---

<p class={className}>
  <slot />
</p>

<style>
  p {
    text-wrap: pretty;
  }
</style>
