---
import Layout from "../layouts/Layout.astro";

import CodeSpan from "../components/Pages/CodeSpan.astro";
import Table from "../components/Pages/Table.astro";
import HR from "../components/Pages/HR.astro";

import { getEntry, render } from "astro:content";
const page = await getEntry("pages", "changelog");

const { Content } = await render(page);
---

<Layout title="Changelog" blob>
  <main>
    <article>
      <Content
        components={{
          code: CodeSpan,
          table: Table,
          hr: HR,
        }}
      />
    </article>
  </main>
</Layout>

<style>
  main {
    padding: 80px 16px;
    display: flex;
    row-gap: 80px;
    flex-direction: column;
    justify-content: center;

    max-width: 1280px;
    margin: 0 auto;
  }

  main :is(h1, h2, h3, h4) {
    max-width: 800px;
    margin: 0 auto;
    text-wrap: balance;

    @media (max-width: 800px) {
      padding: 0 16px;
    }
  }
</style>
