---
import { getCollection } from "astro:content";

const strawberryDocs = await getCollection("docs");
---

<ul>
  {
    strawberryDocs.map((doc) => (
      <li>
        {doc.data.id} -> {doc.slug}
      </li>
    ))
  }
</ul>
