---
import Markdown from "../Markdown.astro";
import CodeSpan from "../Pages/CodeSpan.astro";
import expressionToString from "./expression";
import Title from "./Title.astro";

export interface AttributeDefinition {
  name: string;
  kind: "attribute";
  docstring?: {
    value: string;
  };
  value?: any;
}

export interface Props {
  name: string;
  attribute: AttributeDefinition;
}

const { name, attribute } = Astro.props;
---

<Title>{name}</Title>

{attribute.docstring && <Markdown content={attribute.docstring.value} />}

{attribute.value && <CodeSpan>{expressionToString(attribute.value)}</CodeSpan>}

<style>
  .methods {
    list-style: none;
    padding: 0;
  }

  li {
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-g-300);
      margin-bottom: 2rem;
      padding-bottom: 2rem;
    }
  }
</style>
