---
import Markdown from "../Markdown.astro";
import ParametersTable from "./ParametersTable.astro";
import ParametersList from "./ParametersList.astro";

export interface Props {
  fun: {
    name: string;
  };
}

const { fun } = Astro.props;

const parsedParameters = fun.docstring.parsed.find(
  (item) => item.kind === "parameters",
);

const parametersDescriptions = parsedParameters
  ? parsedParameters.value.reduce((acc, item) => {
      console.log(item);
      acc[item.name] = item.description;
      return acc;
    }, {})
  : {};
---

<h1>{fun.name}</h1>

<Markdown content={fun.docstring.value} />

<h2>Parameters</h2>

<ParametersList
  parameters={fun.parameters}
  parametersDescriptions={parametersDescriptions}
/>
