---
import Search from "../../components/Search.astro";
import IndexIcon from "../Icons/Index.astro";
import NavLink from "./NavLink.astro";
---

<input type="checkbox" id="toggle-docs-nav" />

<aside class="docs-nav">
  <label for="toggle-docs-nav" class="docs-nav-toggle typography-label">
    <IndexIcon />

    Index
  </label>

  <div class="docs-nav-content">
    <Search />

    <ul>
      <li>
        <NavLink href="/docs" text="ðŸ“ Documentation" />
      </li>
      <li>
        <NavLink href="/docs/django" text="ðŸ¦„ Strawberry Django" />
      </li>
    </ul>

    <slot />
  </div>
</aside>

<style>
  ul {
    margin-bottom: 32px;
    display: flex;
    gap: 16px;
    flex-direction: column;

    @media (min-width: 768px) {
      a {
        padding: 0 !important;
      }
    }
  }

  .docs-nav {
    scrollbar-width: thin;

    @media (max-width: 767px) {
      padding: 16px 16px 0;
    }
  }

  @media (min-width: 768px) {
    .docs-nav-toggle {
      display: none;
    }
  }
</style>
