---
import { promises as fs } from "fs";
import Layout from "../../../layouts/Layout.astro";
import Markdown from "../../../components/Markdown.astro";
import Nav from "../../../components/ApiDocs/Nav.astro";
import Sidebar from "../../../components/Docs/Sidebar.astro";

const data = JSON.parse(
  await fs.readFile("./src/content/api/strawberry.json", "utf-8"),
);

// remove all private members
data.members = data.members.filter((member) => !member.name.startsWith("_"));

const membersByKind = data.members.reduce((acc, member) => {
  if (!acc[member.kind]) {
    acc[member.kind] = [];
  }

  acc[member.kind].push(member);

  return acc;
}, {});

const names = {
  alias: "Aliases",
  module: "Modules",
};
---

<Layout title="API Docs">
  <main class="docs-grid">
    <Sidebar><Nav /></Sidebar>
    <article>
      <h1>Strawberry API docs</h1>

      <Markdown content={data.docstring.parsed[0].value} />

      {
        Object.entries(membersByKind).map(([kind, members]) => (
          <>
            <h2>{names[kind]}</h2>
            <ul>
              {members.map((member) => (
                <li>
                  <a href={`/docs/api/strawberry.${member.name}`}>
                    <code>strawberry.{member.name}</code>
                  </a>
                </li>
              ))}
            </ul>
          </>
        ))
      }
    </article>
  </main>
</Layout>
