---
import SponsorsList from "../components/SponsorsList.astro";
import ContributorsList from "../components/ContributorsList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acknowledgements" blob>
  <main>
    <header>
      <h1 class="typography-heading-1">Acknowledgements</h1>
      <h4 class="typography-heading-4">
        Strawberry wouldn't be possible without all these amazing people and
        sponsors ❤️
      </h4>
    </header>

    <h1 class="typography-heading-1">Sponsors</h1>
    <SponsorsList />

    <h1 class="typography-heading-1">Contributors</h1>
    <ContributorsList />
  </main>
</Layout>

<style>
  main {
    padding: 80px 16px;
    display: flex;
    row-gap: 80px;
    flex-direction: column;
    justify-content: center;

    max-width: 1280px;
    margin: 0 auto;
  }

  main :global(h1, h2, h3, h4) {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    text-wrap: balance;

    @media (max-width: 800px) {
      padding: 0 16px;
    }
  }

  main header h1 {
    margin-bottom: 40px;
  }
</style>
