@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Italic[wght].ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono[wght].ttf") format("truetype");
  font-weight: variable;
  font-style: normal;
}

@font-face {
  font-family: "Ranade";
  src: url("/fonts/Ranade-Variable.ttf") format("truetype");
  font-weight: variable;
  font-style: normal;
}

@font-face {
  font-family: "Ranade";
  src: url("/fonts/Ranade-VariableItalic.ttf") format("truetype");
  font-weight: variable;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: variable;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: variable;
  font-style: italic;
}

:root {
  --gap: 16px;
  --full: var(--gap);
  --full: minmax(var(--gap), 1fr);
  --content: min(850px, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);
}
