.typography-display {
  font-weight: 500;
  font-family: var(--font-display);
  font-size: 44px;
  line-height: 1.2;

  @media (min-width: 768px) {
    font-size: 60px;
  }
}

.typography-heading-1,
.typography-heading-2,
.typography-heading-3,
.typography-heading-4,
.typography-heading-5,
.typography-heading-6 {
  font-weight: bold;
  font-family: var(--font-display);
  line-height: 1.25;
}

.typography-heading-1 {
  font-size: 36px;

  @media (min-width: 768px) {
    font-size: 48px;
  }
}

.typography-heading-2 {
  font-size: 32px;

  @media (min-width: 768px) {
    font-size: 48px;
  }
}

.typography-heading-3 {
  font-size: 32px;
}

.typography-heading-4 {
  font-size: 24px;
}

.typography-heading-5 {
  font-size: 24px;
}

.typography-heading-6 {
  font-size: 24px;
}

.typography-paragraph {
  font-family: var(--font-sans);
  font-size: 18px;
  line-height: 1.5;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.typography-paragraph-2 {
  font-family: var(--font-sans);
  font-size: 17px;
  line-height: 1.5;
}

.typography-label {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  font-family: var(--font-sans);
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.typography-label-2 {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  font-family: var(--font-sans);
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.typography-caption {
  font-family: var(--font-sans);
  font-size: 14px;
}

.typography-code {
  font-family: var(--font-mono);
  font-size: 16px;
  line-height: 1.5;
}
