---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/ApiDocs/Nav.astro";
import Sidebar from "../../components/Docs/Sidebar.astro";

import data from "../../content/api/strawberry.json";
import Module from "../../components/ApiDocs/Module.astro";
---

<Layout title="API Docs">
  <main class="docs-grid">
    <Sidebar><Nav /></Sidebar>

    <article id="docs-content">
      <Module name={data.name} module={data} path="strawberry" />
    </article>
  </main>
</Layout>

<style>
  #docs-content {
    grid-column-end: page-nav-end;
  }

  ul {
    list-style-type: disc;
    padding-left: 1rem;
  }

  ul li a {
    text-decoration: underline;
    text-decoration-offset: 0.2em;
  }
</style>
