---
import ExternalIcon from "./Icons/External.astro";

interface Props {
  type: "sponsor" | "contributor";
  name: string;
  avatar: string;
  href: string;
}

const { type, name, avatar, href } = Astro.props;
---

<a href={href} target="_blank" rel="noreferrer" class="card">
  <img src={avatar} />
  <div>
    <p class="typography-caption title">
      {type === "sponsor" ? "Sponsor" : "Contributor"}
    </p>
    <p class="typography-paragraph-2">
      {name}
    </p>
  </div>

  <span>
    {href && <ExternalIcon />}
  </span>
</a>

<style>
  a {
    display: flex;
  }

  img {
    width: 74px;
    aspect-ratio: 1;
    border-radius: 12px;
    object-fit: cover;
    margin-right: 24px;
  }

  p {
    font-weight: bold;
  }

  p.title {
    font-weight: normal;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  span {
    margin-left: auto;
  }
</style>
