@tailwind base;
@tailwind components;

:root {
  --docsearch-primary-color: rgb(239, 68, 68);
}

.code-dimmed-line {
  opacity: 0.5;
}

.code-highlighted-line {
  opacity: 1;
}

.code-highlighted-word, .code-note {
  position: relative;
  background-color: rgba(239, 68, 68, 0.4);
  /* padding: 4px; */
  /* margin: -4px; */
}

ul ul[data-toc="true"] {
  margin-left: 1em;
  margin-bottom: 0;
}

.toc-link {
  position: relative;
  background-color: rgba(239, 68, 68, 0.2);
  padding: 1px;;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  @apply dark:text-white dark:bg-gray-800;
}

:not(pre) > code[class*="language-"] {
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: rgb(152, 159, 177);
  font-style: italic;
}

.token.punctuation {
  color: rgb(153, 76, 195);
}

.namespace {
  color: rgb(12, 150, 155);
}

.token.deleted {
  color: rgba(239, 83, 80, 0.56);
  font-style: italic;
}

.token.symbol,
.token.operator,
.token.keyword,
.token.property {
  color: rgb(12, 150, 155);
}

.token.tag {
  color: rgb(153, 76, 195);
}

.token.boolean {
  color: rgb(188, 84, 84);
}

.token.number {
  color: rgb(170, 9, 130);
}

.token.constant,
.token.builtin,
.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string,
.token.char {
  color: rgb(72, 118, 214);
}

.token.selector,
.token.function,
.token.doctype {
  color: rgb(153, 76, 195);
  font-style: italic;
}

.token.attr-name,
.token.inserted {
  color: rgb(72, 118, 214);
  font-style: italic;
}

.token.class-name,
.token.atrule,
.token.attr-value {
  @apply dark:text-white;
}

.token.regex,
.token.important,
.token.variable {
  color: rgb(201, 103, 101);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

@tailwind utilities;

@layer utilities {
  .underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: theme("colors.red.500");
  }

  .heading-underline {
    background-size: 100% 4px;
    background-position: 0% 100%;
    background-repeat: no-repeat;
  }

  .nav-underline {
    background-position: 0% 100%;
    background-repeat: no-repeat;
    transition: 0.15s background-size ease-out;
    background-size: 0 2px;
  }

  .nav-underline.active {
    background-size: 100% 2px;
  }

  .nav-underline:hover {
    background-size: 100% 2px;
  }
}

p > code {
  @apply bg-red-200 dark:text-white dark:bg-gray-900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply relative;
}

.__permalink-h {
  @apply text-red-500 absolute top-0 -left-6 no-underline;
}

table {
  min-width: 600px;
}
