@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .typography-display {
    @apply font-medium font-display text-display-s md:text-display;
  }

  .typography-caption {
    @apply font-sans text-caption;
  }

  .typography-heading-1,
  .typography-heading-2,
  .typography-heading-3,
  .typography-heading-4 {
    @apply font-bold font-display leading-tight;
  }

  .typography-heading-1 {
    @apply text-heading-1-s md:text-heading-1;
  }

  .typography-heading-2 {
    @apply text-heading-2-s md:text-heading-2;
  }

  .typography-heading-3 {
    @apply text-heading-3;
  }

  .typography-heading-4 {
    @apply text-heading-4;
  }

  .typography-paragraph {
    @apply font-sans text-paragraph-s md:text-paragraph;
  }

  .typography-paragraph-2 {
    @apply font-sans text-paragraph-2;
  }

  .typography-label {
    @apply font-bold uppercase tracking-wide text-label;
  }

  .typography-label-2 {
    @apply font-bold uppercase tracking-wide text-label-2;
  }

  .typography-code {
    @apply font-mono text-code;
  }
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Italic[wght].ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono[wght].ttf') format('truetype');
  font-weight: variable;
  font-style: normal;
}

@font-face {
  font-family: 'Ranade';
  src: url('/fonts/Ranade-Variable.ttf') format('truetype');
  font-weight: variable;
  font-style: normal;
}

@font-face {
  font-family: 'Ranade';
  src: url('/fonts/Ranade-VariableItalic.ttf') format('truetype');
  font-weight: variable;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: variable;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: variable;
  font-style: italic;
}

